body {
  background: rgb(253,77,29);
background: linear-gradient(90deg, rgba(253,77,29,1) 0%, rgba(252,176,69,1) 100%);
}

input {
 width: 400px;
 position: relative;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-container input {
  padding: 0 10px;
}

.search-container .suggestions {
  position: absolute;
  top: 472px;
  width: 420px;
}

ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px red;
  max-height: 200px;
  overflow-y: auto;
}

ul.has-suggestions {
  display: block;
  font-size: 39px;
}

ul li {
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
}

ul li:hover {
  cursor: pointer;
  background-color: #e65c00 ;
}